.product-section {
  height: calc(100vh - var(--nav-height));
  .title {
    text-align: center;
    color: var(--accent-primary);
    font-size: xx-large;
    margin-bottom: 3rem;
  }
  .products{
    display:flex;
    justify-content: space-around;
    align-items: center;
  }

  h3 {
    text-align:center;
    color: var(--text-primary);
    font-size: medium;
    font-weight: light;
    opacity: 0.8;
    margin-bottom: 10px;
  }
  figcaption{
    margin-top: 10px;
    text-align:center;
  }



}
